footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
   
}
footer a{
    color: var(--color-bg);
}
.footer__logo{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalinks{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2rem;
margin: 0 auto 3rem;
}
.permalinks a{
    position: relative;
}
.permalinks a::after{
    content: '';
    position: absolute;
    background-color:  var(--color-bg);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;  
}
.permalinks a:hover::after{
width: 100%;
}
.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer__socials a{
    /* background: var(--color-bg); */
    color: #fff;
    font-size: 2em;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transform: 0.5s;
    overflow: hidden;
    
}
.footer__socials a:hover{
    /* background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg); */
    transform: translateY(-20px);
}
.footer__socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
.footer__socials a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

.footer__copyright{
margin-bottom: 4rem;
color: var(--color-bg);
}
/* ============ MEDIA QUERIES (MEDIUM DEVICES) =================*/
@media screen and (
    max-width: 1024px) {
       
}
/* ============ MEDIA QUERIES (SMALL DEVICES) =================*/
@media screen and (
    max-width: 600px) {
        .permalinks{
            flex-direction: column;
            gap: 1.5rem;
        }
        .footer__socials{
            margin-bottom: 2.6rem;
        }
    
}
